body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c8990b;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Ensures items are in a row */
    margin-right: 20px;
}

nav ul li a {
    color: rgb(35, 32, 32); /* Link color */
    text-decoration: none; /* Removes underline */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover for better visibility */
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #074081;
    position: relative;
    bottom: 0;
    width: 100%;
    color:aliceblue
}
/* Scrollable Image Section */
.image-scroll {
    overflow-x: scroll;
    white-space: nowrap;
    margin: 20px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.image-container {
    display: inline-flex;
}

.image-container img {
    height: 300px;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

#place-list > div {
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
}